---
layout: news
title: People
subtitle: People in Zhang Lab
permalink: /people
---

<h1>People</h1>
<hr class="large">
<h3>Group Leader</h3>
<ul>
    {% assign count = 0 %}
    {% for people in site.people %}
        {% if people.status == "Group Leader" %}
            {% assign count = count | plus:1 %}
            {% if count > 1 %}
            <hr>
            {% endif %}
            <div class="row">
                <div class="col-lg-3" style="font-size: 1rem; padding-top: 1rem">
                    <table class="table table-borderless table-sm">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" colspan="2">
                                    <div class="rounded" style="height: 200px; width: 200px; overflow: hidden; margin-bottom: 1rem; border-radius: 10px;"> 
                                        <img src="/assets/img{{people.permalink}}.jpg" data-action="zoom" style="width: 100%; height: auto;">
                                    </div>
                                </td>
                            </tr>
                            {% if people.office %}
                            <tr>
                              <td><i class="fas fa-building"></i></td>
                              <td>{{people.office}}</td>
                            </tr>
                            {% endif %}

                            {% if people.eml %}
                            <tr>
                              <td><i class="fas fa-envelope"></i></td>
                              <td><a href="mailto:{{people.eml}}">{{people.eml}}</a></td>
                            </tr>
                            {% endif %}

                            <tr>
                              <td colspan="2">
                                {% if people.website %}
                                    <a href="{{people.website}}"><i class="fas fa-globe"></i></a>
                                {% endif %}

                                {% if people.google_scholar %}
                                    <a href="{{people.google_scholar}}"><i class="fas fa-graduation-cap"></i></a>
                                {% endif %}

                                {% if people.github %}
                                    <a href="{{people.github}}"><i class="fab fa-github"></i></a>
                                {% endif %}

                                {% if people.twitter %}
                                    <a href="{{people.twitter}}"><i class="fab fa-twitter"></i></a>
                                {% endif %}
                              </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-lg-9">
                    <h3 style="font-size: 1.5rem;">{{people.pname}} <span style="float: right; color: lightgray; font-size: 1rem;">{{people.position}}</span></h3>
                    <p>{{people.desp}}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</ul>
<hr class="large">

<h3>Students</h3>
<ul>
    {% assign count = 0 %}
    {% for people in site.people %}
        {% if people.status == "Student" %}
            {% assign count = count | plus:1 %}
            {% if count > 1 %}
            <hr>
            {% endif %}
            <div class="row">
                <div class="col-lg-3" style="font-size: 1rem; padding-top: 1rem">
                    <table class="table table-borderless table-sm">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" colspan="2">
                                    <div class="rounded" style="height: 200px; width: 200px; overflow: hidden; margin-bottom: 1rem; border-radius: 10px;"> 
                                        <img src="/assets/img{{people.permalink}}.jpg" data-action="zoom" style="width: 100%; height: auto;">
                                    </div>
                                </td>
                            </tr>
                            {% if people.office %}
                            <tr>
                              <td><i class="fas fa-building"></i></td>
                              <td>{{people.office}}</td>
                            </tr>
                            {% endif %}

                            {% if people.eml %}
                            <tr>
                              <td><i class="fas fa-envelope"></i></td>
                              <td><a href="mailto:{{people.eml}}">{{people.eml}}</a></td>
                            </tr>
                            {% endif %}

                            <tr>
                              <td colspan="2">
                                {% if people.website %}
                                    <a href="{{people.website}}"><i class="fas fa-globe"></i></a>
                                {% endif %}

                                {% if people.google_scholar %}
                                    <a href="{{people.google_scholar}}"><i class="fas fa-graduation-cap"></i></a>
                                {% endif %}

                                {% if people.github %}
                                    <a href="{{people.github}}"><i class="fab fa-github"></i></a>
                                {% endif %}

                                {% if people.twitter %}
                                    <a href="{{people.twitter}}"><i class="fab fa-twitter"></i></a>
                                {% endif %}
                              </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-lg-9">
                    <h3 style="font-size: 1.5rem;">{{people.pname}} <span style="float: right; color: lightgray; font-size: 1rem;">{{people.position}}</span></h3>
                    <p>{{people.desp}}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</ul>
<hr class="large">

<h3>Collaborating Students</h3>
<ul>
    {% assign count = 0 %}
    {% for people in site.people %}
        {% if people.status == "Collaborating Student" %}
            {% assign count = count | plus:1 %}
            {% if count > 1 %}
            <hr>
            {% endif %}
            <div class="row">
                <div class="col-lg-3" style="font-size: 1rem; padding-top: 1rem">
                    <table class="table table-borderless table-sm">
                        <tbody>
                            <tr>
                                <td style="text-align: center;" colspan="2">
                                    <div class="rounded" style="height: 200px; width: 200px; overflow: hidden; margin-bottom: 1rem; border-radius: 10px;"> 
                                        <img src="/assets/img{{people.permalink}}.jpg" data-action="zoom" style="width: 100%; height: auto;">
                                    </div>
                                </td>
                            </tr>
                            {% if people.office %}
                            <tr>
                              <td><i class="fas fa-building"></i></td>
                              <td>{{people.office}}</td>
                            </tr>
                            {% endif %}

                            {% if people.eml %}
                            <tr>
                              <td><i class="fas fa-envelope"></i></td>
                              <td><a href="mailto:{{people.eml}}">{{people.eml}}</a></td>
                            </tr>
                            {% endif %}

                            <tr>
                              <td colspan="2">
                                {% if people.website %}
                                    <a href="{{people.website}}"><i class="fas fa-globe"></i></a>
                                {% endif %}

                                {% if people.google_scholar %}
                                    <a href="{{people.google_scholar}}"><i class="fas fa-graduation-cap"></i></a>
                                {% endif %}

                                {% if people.github %}
                                    <a href="{{people.github}}"><i class="fab fa-github"></i></a>
                                {% endif %}

                                {% if people.twitter %}
                                    <a href="{{people.twitter}}"><i class="fab fa-twitter"></i></a>
                                {% endif %}
                              </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col-lg-9">
                    <h3 style="font-size: 1.5rem;">{{people.pname}} <span style="float: right; color: lightgray; font-size: 1rem;">{{people.position}}</span></h3>
                    <p>{{people.desp}}</p>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</ul>
<hr class="large">

<h3>Alumni</h3>
<ul>     
</ul>


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="/assets/img/people/5_1_Alumni.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/img/people/5_2_Alumni.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/assets/img/people/5_3_Alumni.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>






